*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Roboto", serif;
}

body{
    background-color: #f6f8f9;
}

:root{

    --btn-1: #14aaf5;
    --btn-2: #ab5de6;
    --btn-3: #2cc6ab;
    --btn-4: #ff9b00;
    --btn-5: #f176b4;
    --btn-6: #a3d116;
}


/* utilites */

header{
    background-color: #fff;
}

.header-content{
    margin-left: 1rem;
}


.title_page{
    display: inline-block;
    /* padding-bottom: 1rem; */
}

.container{
    background-color: #fff;
    width: 80%;
    margin: 3rem auto;
    border-radius: 4px;
}

nav{
    border-bottom: 1px solid lightgray;
}

.btn-box{
    margin: 1rem 2rem;
    display: inline-block;
}
.btn-style{
    border: none;
    border-radius: 4px;
    background-color: var(--btn-1);
    color: white;
    padding: 6px
}

.list-container{

    padding: 3rem;
}

li{
    list-style: none;
    margin-right: 2rem;
}

.checkmark{
    /* background-color: black; */
    display: inline-block;
    color: #9de4d8;
    border-radius: 30px;
    border: 1px, solid, #9de4d8;
    width: 20px;
    height: 20px;
    text-align: center;
}

.cross{
    display: inline-block;
    color: red;
    border-radius: 30px;
    border: 1px, solid, red;
    width: 20px;
    height: 20px;
    text-align: center;
}

.list-label-blue{
    display: inline-block;
    background-color: var(--btn-1);
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 12px;
}

.list-label-purple{
    display: inline-block;
    background-color: var(--btn-2);
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 12px;
}

.list-label-mint{
    display: inline-block;
    background-color: var(--btn-3);
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 12px;
}

.list-label-orange{
    display: inline-block;
    background-color: var(--btn-4);
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 12px;
}

.list-label-magenta{
    display: inline-block;
    background-color: var(--btn-5);
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 12px;
}

.list-label-green{
    display: inline-block;
    background-color: var(--btn-6);
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 12px;
}

.list-title{
    margin-bottom: 10px
}

.list-row{
    margin-bottom: 1rem;
    margin-right: 1rem;
}

